// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
  font-size: 0.88em;

  a {
    margin-right: 1em;
    color: #808080;
    text-decoration: none !important;

    &:hover {
      color: darken(#808080, 20%);
    }
  }
}
